<div class="card">
    <div class="card-header">
      CALCULADORA IMC
    </div>
    <div class="card-body">
        <img style="margin-left: 700px;" [src]="urlImage" class="img-fluid" width="100px" height="100px" alt="...">
        <div class="form-floating mb-3">
            <input type="number" class="form-control"
            id="txttalla" [(ngModel)]="formImc.talla"
            placeholder="tallita">
            <label for="txttalla">Ingrese su talla</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control"
            id="txtpeso"  [(ngModel)]="formImc.peso"
            placeholder="pesito">
            <label for="txtpeso">Ingrese su peso</label>
          </div>
          <button type="button" (click)="calcularimc()" class="btn btn-primary">Calcular</button>
          @if(mostrarMensaje){
            <div class="alert alert-success" role="alert">
                {{resultado}}
              </div>
          }
          
          <hr />
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Valor IMC</th>
                <th scope="col">Diagnostico</th>
              </tr>
            </thead>
            <tbody>
                @for(itemPaciente of pacienteList; track $index){
                    <tr>
                        <th scope="row">{{itemPaciente.id}}</th>
                        <td>{{itemPaciente.valor}}</td>
                        <td>{{itemPaciente.diagnostico}}</td>
                      </tr>
                }
              
        
            </tbody>
          </table>
      </div>
</div>
    
      
  